---
import Presentation from "@/components/Presentation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-6xl space-y-16 px-4 py-12 sm:px-6">
    <Presentation />
  </div>
</Layout>
